@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(161, 100, 223);
  font-family: "Poppins", sans-serif;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.btn {
  background-color: rebeccapurple;
  color: #fff;
  cursor: pointer;
  margin: 1rem;
  border: none;
  font-family: inherit;
  font-size: 1.3rem;
  padding: 1.8rem 3.1rem;
  border-radius: 10px;
}

.btn:hover {
  opacity: 0.8;
}
